<form action="/submit" method="get">
    Username : <input type="text" name="un" id="un"><br><br>
    Marks : <input type="number" name="m" id="m"><br><br>
    <input type="submit" value="Submit">
</form>