<form action="/marksheet" method="get">
    T1 : <input type="number" name="t1" id="">/25<br><br>
    T2 : <input type="number" name="t2" id="">/25<br><br>
    T3 : <input type="number" name="t3" id="">/25<br><br>
    T4 : <input type="number" name="t4" id="">/25<br><br>
    <input type="submit" value="Show Marksheet">
</form>